<div class="row custom-control custom-switch mt-4" (click)="otherBankProducts = !otherBankProducts; toogleOtherBankProducts($event)">
  <input type="checkbox" class="custom-control-input" id="customSwitches" [checked]="otherBankProducts">
  <label class="custom-control-label" for="customSwitches">{{'showOtherBank' | translate}}</label>
</div>
<app-deposits [products]="filterByType('DEPOSIT_ACCOUNT')"></app-deposits>
<app-currents [products]="filterByType('CURRENT_ACCOUNT')"></app-currents>
<app-creditcards [products]="filterByType('CREDIT_CARD')"></app-creditcards>
<app-credits [products]="filterByType('CREDIT')"></app-credits>
<app-cdts [products]="filterByType('CERTIFIED_DEPOSIT_TERM')"></app-cdts>
