<div class="container">
  <div class="row mt-4">
    <a [routerLink]="['/products']" class="btn btn-outline-danger">Regresar</a>
  </div>
  <div class="row mt-4">
    <div class="col-7 bg-dark rounded-pill text-white p-2"><label class="col-form-label">{{product.typeAccount | typeProduct | translate}}</label></div>
  </div>
  <div class="row mt-4">
    <div class="col-5"><h4><label class="col-form-label">Nro.</label></h4></div>
    <div class="col-7"><label class="col-form-label text-secondary">{{product.id}}</label></div>
  </div>
  <div class="row">
    <div class="col-5"><h4><label class="col-form-label">Valor invertido</label></h4></div>
    <div class="col-7"><label class="col-form-label text-secondary">{{product.productAccountBalances.valor_constitucion.amount | currency: product.currencyCode: 'symbol-narrow': '.2-2'}}</label></div>
  </div>
  <div class="row">
    <div class="col-5"><h4><label class="col-form-label">Tasa nominal</label></h4></div>
    <div class="col-7"><label class="col-form-label text-secondary">{{product.productAccountBalances.tasa_nominal.rate}} %</label></div>
  </div>
  <div class="row">
    <div class="col-5"><h4><label class="col-form-label">Plazo</label></h4></div>
    <div class="col-7"><label class="col-form-label text-secondary">{{product.term.count}} {{product.term.units | translate}}</label></div>
  </div>
  <div class="row">
    <div class="col-5"><h4><label class="col-form-label">Intereses causados</label></h4></div>
    <div class="col-7"><label class="col-form-label text-secondary">{{product.productAccountBalances.intereses_causados.amount | currency: product.currencyCode: 'symbol-narrow': '.2-2'}}</label></div>
  </div>
  <div class="row">
    <div class="col-5"><h4><label class="col-form-label">Intereses pagados</label></h4></div>
    <div class="col-7"><label class="col-form-label text-secondary">{{product.productAccountBalances.interes_pagado.amount | currency: product.currencyCode: 'symbol-narrow': '.2-2'}}</label></div>
  </div>
</div>
