<div class="container">
  <div class="row mt-4">
    <a [routerLink]="['/products']" class="btn btn-outline-danger">{{'Back' | translate}}</a>
  </div>
  <div class="row mt-4">
    <div class="col-7 bg-dark rounded-pill text-white p-2"><label class="col-form-label">{{product.typeAccount | translate | translate}}</label></div>
  </div>
  <div class="row mt-4">
    <div class="col-5"><h4><label class="col-form-label">Nro.</label></h4></div>
    <div class="col-7"><label class="col-form-label text-secondary">{{product.id}}</label></div>
  </div>
  <div class="row mt-4">
    <div class="col-5"><h4><label class="col-form-label">Saldo total</label></h4></div>
    <div class="col-7"><label class="col-form-label text-secondary">{{product.productAccountBalances.pago_total_pesos.amount | currency: product.accountInformation.currencyCode: 'symbol-narrow': '.2-2'}}</label></div>
  </div>
  <div class="row mt-4">
    <div class="col-5"><h4><label class="col-form-label">Valor cuota</label></h4></div>
    <div class="col-7"><label class="col-form-label text-secondary">{{product.productAccountBalances.valor_cuota.amount | currency: product.accountInformation.currencyCode: 'symbol-narrow': '.2-2'}}</label></div>
  </div>
  <div class="row mt-4">
    <div class="col-5"><h4><label class="col-form-label">Valor mora</label></h4></div>
    <div class="col-7"><label class="col-form-label text-secondary">{{product.productAccountBalances.saldo_mora_pesos.amount | currency: product.accountInformation.currencyCode: 'symbol-narrow': '.2-2'}}</label></div>
  </div>
</div>
