<div class="card h-100">
  <div class="card-body">
    <a href="#" class="card-link" [routerLink]="['/deposits-detail']" [state]="{ product: product}">Ver Detalle</a>
    <h5 class="card-title">{{product.typeAccount | typeProduct}}</h5>
    <h6 class="card-subtitle mb-2 text-muted">Nro. {{product.id}}</h6>
    <p class="card-text">
      Saldo disponible: {{product.productAccountBalances.saldo_disponible.amount | currency: product.accountInformation.currencyCode: 'symbol-narrow': '.2-2'}}
    </p>
  </div>
</div>
